$separator-color: #fd8e37;

@mixin img-zoom-in {
  -webkit-transform: scale(1.10);
  -moz-transform: scale(1.10);
  -ms-transform: scale(1.10);
  -o-transform: scale(1.10);
  transform: scale(1.10);
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  -ms-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

@mixin img-zoom-out {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -ms-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

* {
  font-family: 'Roboto', 'Open Sans';
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  outline: none;
}

nav {
  height: 68px !important;

  .navbar-brand {
    // color: #141E28;

    // &:hover {
    //   color: #141E28;
    // }
    img {
      width: 150px;
    }
  }

  form {
    position: relative;

    @media (max-width: 575.98px) {
      display: none !important;
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
      display: none !important;
    }

    .search-bar {
      width: 456px !important;
      height: 34px;
      line-height: 34px;
      background: white;
      border: 1px solid #E1E6EB;
    }

    i {
      position: absolute;
      right: 15px;
    }
  }

  .mobile-search {
    background: transparent;
    border: 0;
    outline: none;
    display: none;

    @media (max-width: 575.98px) {
      display: block !important;
      margin-bottom: 3px !important;
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
      display: block !important;
      margin-bottom: 3px !important;
    }
  }
}

.mobile-search-bar {
  display: none;
  padding: 13px 0px;
  border-top: 1px solid #F0F2F5;

  form {
    position: relative;

    .search-bar {
      height: 34px;
      line-height: 34px;
      background: white;
      border: 1px solid #E1E6EB;
      width: 100%;
    }

    i {
      position: absolute;
      right: 15px;
    }
  }
}

.navbar-inner-pages {
  &.mobile-search-bar {
    border-top: none !important;
  }
}

.main-content {
  background: linear-gradient(to bottom, #F0F2F5 0%, #fff 196px);
}

.popular-pages,
.top-news,
.latest-news {
  .heading {
    img {
      height: 32px;
    }

    h1 {
      font-weight: bold;
    }
  }
}

.popular-pages {
  h1 {
    font-size: 32px;
  }
}

.popular-slide-list {
  white-space: nowrap !important;
  width: 100%;
  overflow-x: scroll;

  a {
    &:hover {
      text-decoration: none !important;
    }
  }

  .card {
    border: 1px solid #fff;
    box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.12);

    .card-body {
      padding: 25px 65px;

      img {
        width: 40px;
      }
    }
  }

  .popular-item-name {
    font-size: 14px;
    color: #899096;
  }
}

.top-news-large {
  a {
    text-decoration: none;

    &:hover {
      .card {
        background-color: #030506 !important;
        -webkit-transition: background-color 400ms ease-in;
        -moz-transition: background-color 400ms ease-in;
        -ms-transition: background-color 400ms ease-in;
        transition: background-color 400ms ease-in;

        .img-wrapper {
          img {
            @include img-zoom-in;
          }
        }
      }
    }
  }

  .card {
    background: #141E28;
    -webkit-transition: background-color 400ms ease-out;
    -moz-transition: background-color 400ms ease-out;
    -ms-transition: background-color 400ms ease-out;
    transition: background-color 400ms ease-out;

    .img-wrapper {
      overflow: hidden;

      img {
        @include img-zoom-out;
      }
    }


    .card-body {
      padding: 0;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .short-title {
        color: #fff;
        font-size: 32px;
        font-weight: bold;
        overflow-wrap: break-word;
        padding: 0 20px;
        margin-bottom: 10px;

        @media (max-width: 575.98px) {
          padding: 15px 10px;
          font-size: 20px;
          margin-bottom: 5px;
        }

        @media (min-width: 576px) and (max-width: 767.98px) {
          margin-top: 20px;
          font-size: 26px;
        }

        /** For iPad **/
        @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
          margin-top: 20px !important;
        }

        /** For iPhone **/
        @media only screen and (device-width : 375px) and (device-height : 667px) and (-webkit-device-pixel-ratio : 2) {
          font-size: 20px !important;
          margin-top: 20px;
          padding: 0 10px !important;
          margin-bottom: 25px !important;
        }

        /** For iPhone **/
        @media only screen and (device-width : 667px) and (device-height : 375px) and (-webkit-device-pixel-ratio : 2) {
          font-size: 20px !important;
          margin-top: 20px;
          padding: 0 10px;
        }

        /** For iPhone **/
        @media only screen and (device-width : 414px) and (device-height : 736px) and (-webkit-device-pixel-ratio : 3) {
          font-size: 20px !important;
          margin-top: 20px;
          padding: 0 10px !important;
          margin-bottom: 20px !important;
        }

        /** For iPhone **/
        @media only screen and (device-width : 736px) and (device-height : 414px) and (-webkit-device-pixel-ratio : 3) {
          font-size: 20px !important;
          margin-top: 20px;
          padding: 0 10px;
        }

        /** For iPhone **/
        @media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
          font-size: 20px;
          padding: 15px 10px;
          margin-bottom: 5px;
        }

        /** For iPhone **/
        @media only screen and (device-width : 812px) and (device-height : 375px) and (-webkit-device-pixel-ratio : 3) {
          font-size: 22px;
          margin-top: 20px;
        }

      }

      .footer-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 23px 20px 23px;

        @media (max-width: 575.98px) {
          margin: 10px 11px 20px 11px;
        }

        img {
          width: 95px;
        }

      }
    }
  }
}

.top-news-small {

  a {
    text-decoration: none;

    &:hover {
      .card {
        background-color: #030506 !important;
        -webkit-transition: background-color 400ms ease-in;
        -moz-transition: background-color 400ms ease-in;
        -ms-transition: background-color 400ms ease-in;
        transition: background-color 400ms ease-in;
      }

      .img-wrapper {
        img {
          @include img-zoom-in;
        }
      }
    }
  }

  .card {
    background: #141E28;
    margin-top: 25px;
    height: auto;
    overflow: hidden;
    -webkit-transition: background-color 400ms ease-out;
    -moz-transition: background-color 400ms ease-ou;
    -ms-transition: background-color 400ms ease-out;
    transition: background-color 400ms ease-out;

    .card-wrapper {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;

      @media (max-width: 575.98px) {
        flex-direction: row;
      }
    }

    .img-wrapper {
      overflow: hidden;

      img {
        @include img-zoom-out;
        height: 100%;
        object-fit: cover;

        @media (max-width: 575.98px) {
          width: 360px
        }

        /** For iPhone **/
        @media only screen and (device-width : 375px) and (device-height : 667px) and (-webkit-device-pixel-ratio : 2) {
          width: 335px
        }

        /** For iPhone **/
        @media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
          width: 335px
        }
      }
    }

    .card-body {
      // padding: 1.2rem 0.75rem;
      padding: 0;

      .short-title {
        color: #fff;
        font-size: 17px;
        font-weight: bold;
        padding: 10px;

        @media (max-width: 575.98px) {
          font-size: 14px;
        }

        /** For iPad **/
        @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
          font-size: 22px;
        }

        /** For iPad **/
        @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
          padding: 20px 10px !important;
        }

        /** For iPhone **/
        @media only screen and (device-width : 414px) and (device-height : 736px) and (-webkit-device-pixel-ratio : 3) {
          font-size: 14px;
        }

        /** For iPhone **/
        @media only screen and (device-width : 375px) and (device-height : 667px) and (-webkit-device-pixel-ratio : 2) {
          font-size: 14px;
        }

        /** For iPhone **/
        @media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
          font-size: 14px;
        }
      }

    }

    .card-footer {
      padding: 15px 12px;
      background-color: transparent;
      border-top: none;

      .footer-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;


        img {
          width: 95px;
          height: 100%;

          @media (max-width: 575.98px) {
            width: 80px;
          }
        }
      }
    }

    @media (max-width: 575.98px) {
      height: auto;
    }

    /** For iPhone **/
    @media only screen and (-webkit-device-pixel-ratio : 3) and (orientation : landscape) {
      height: auto !important;
      margin-top: 20px !important;
    }

    /** For iPad **/
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
      height: auto !important;
      margin-top: 20px !important;
    }

    /** For iPad **/
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
      height: auto !important;
      margin-top: 20px !important;
    }

    /** For iPhone **/
    @media only screen and (device-width : 375px) and (device-height : 667px) and (-webkit-device-pixel-ratio : 2) {
      height: auto;
    }

    /** For iPhone **/
    @media only screen and (device-width : 414px) and (device-height : 736px) and (-webkit-device-pixel-ratio : 3) {
      height: auto;
    }

    /** For iPhone **/
    @media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
      height: auto;
    }
  }

  @media (max-width: 575.98px) {
    margin-top: 0 !important;

    .card {
      margin-top: 20px;
    }

  }

  @media (min-width: 576px) and (max-width: 767.98px) {
    .card {
      height: auto;
      margin-top: 20px;
    }
  }
}

.more-news {
  position: relative;

  hr {
    margin-top: 35px !important;
  }

  a {
    color: #a0a5aa;
    position: absolute;
    right: 0;
    top: -15px;
    background: #fff;
    width: 70px;
    text-align: right;
    font-size: 16px;
    font-weight: bold;

    &:hover {
      text-decoration: none !important;
    }
  }
}

.latest-news-cards {

  a {
    text-decoration: none !important;

    &:hover {

      .card {
        background-color: #d1d7e1 !important;
        -webkit-transition: background-color 400ms ease-in;
        -moz-transition: background-color 400ms ease-in;
        -ms-transition: background-color 400ms ease-in;
        transition: background-color 400ms ease-in;
      }

      .img-wrapper {
        img {
          @include img-zoom-in;
        }
      }
    }
  }

  .card {
    margin-top: 20px;
    height: 350px;
    overflow: hidden;
    background-color: #F0F2F5 !important;
    border-color: #fff;
    -webkit-transition: background-color 400ms ease-out;
    -moz-transition: background-color 400ms ease-out;
    -ms-transition: background-color 400ms ease-out;
    transition: background-color 400ms ease-out;

    .card-wrapper {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;

      @media (max-width: 575.98px) {
        flex-direction: row;
      }
    }


    .img-wrapper {
      overflow: hidden;


      img {
        @include img-zoom-out;
        height: 100%;
        width: 100%;
        object-fit: cover;

        @media (max-width: 575.98px) {
          width: 360px
        }

        /** For iPhone **/
        @media only screen and (device-width : 375px) and (device-height : 667px) and (-webkit-device-pixel-ratio : 2) {
          width: 335px
        }

        /** For iPhone **/
        @media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
          width: 335px
        }

        @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
          width: 100%;
        }
      }
    }

    .title-wrapper {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.0), rgba(10, 9, 9, 0.6));
      height: 100%;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .short-title {
        color: #fff;
        font-size: 21px;
        font-weight: bold;
        margin: 0 15px;

        /** For iPhone **/
        @media only screen and (device-width : 414px) and (device-height : 736px) and (-webkit-device-pixel-ratio : 3) {
          // padding: 35px 10px;
          margin-left: 15px;
        }

        /** For iPhone **/
        @media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
          // padding: 35px 10px;
          margin-left: 15px;
        }

        @media (max-width: 575.98px) {
          // padding: 35px 10px;
          margin-left: 15px;
        }
      }

      .footer-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 15px;

        img {
          width: 95px;

          @media (max-width: 575.98px) {
            width: 80px;
          }
        }

        .time-stamp {
          color: #fff;
          font-size: 14px;
          text-align: right;

          @media (max-width: 575.98px) {
            font-size: 11.5px;
          }
        }
      }
    }

    .card-body {
      padding: 0;

      .short-title {
        color: #141E28;
        font-size: 17px;
        font-weight: bold;
        overflow-wrap: break-word;
        padding: 10px;

        @media (max-width: 575.98px) {
          font-size: 14px;
        }

        /** For iPad **/
        @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
          font-size: 22px;
        }

        /** For iPhone **/
        @media only screen and (device-width : 414px) and (device-height : 736px) and (-webkit-device-pixel-ratio : 3) {
          font-size: 14px;
        }

        /** For iPhone **/
        @media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
          font-size: 14px;
        }
      }
    }

    .card-footer {
      padding: 15px 12px;
      background-color: transparent;
      border-top: none;

      .footer-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;


        img {
          width: 95px;
          height: 100%;

          @media (max-width: 575.98px) {
            width: 80px;
          }
        }

        .time-stamp {
          font-size: 13px;
          color: #141e34;

          @media (max-width: 575.98px) {
            font-size: 11.5px;
          }
        }
      }
    }

    @media (max-width: 575.98px) {
      height: auto;
    }

    /** For iPhone **/
    @media only screen and (-webkit-device-pixel-ratio : 3) and (orientation : landscape) {
      height: auto !important;
      margin-top: 20px !important;
    }

    /** For iPad **/
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
      height: auto !important;
      margin-top: 20px !important;
    }

    /** For iPad **/
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
      height: 330px;
    }

    /** For iPhone **/
    @media only screen and (device-width : 414px) and (device-height : 736px) and (-webkit-device-pixel-ratio : 3) {
      height: auto;
    }

    /** For iPhone **/
    @media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
      height: auto;
    }
  }

  @media (max-width: 575.98px) {
    margin-top: 0 !important;

    .main {
      .card {
        height: 248px;

        img {
          width: 100%;
        }
      }
    }

    .card {
      margin-top: 20px;
    }

  }

  @media (min-width: 576px) and (max-width: 767.98px) {
    .card {
      height: auto;
      margin-top: 20px;
    }
  }

  /** For iPhone **/
  @media only screen and (device-width : 414px) and (device-height : 736px) and (-webkit-device-pixel-ratio : 3) {
    .main {
      .card {
        img {
          width: 100% !important;
        }
      }
    }
  }

  /** For iPhone **/
  @media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
    .main {
      .card {
        img {
          width: 100% !important;
        }
      }
    }
  }

}

.btn {
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  padding: .5rem 2rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 200px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background: #fd8e37;

  &:hover {
    background: #f77d1f;
    border-color: #fd8e37;
  }
}

.navbar-inner-pages {
  border-bottom: 1px solid #F0F2F5;
}

.feature-image-wrapper {

  position: relative;

  .feature-image {
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 414px;

    @media (max-width: 575.98px) {
      height: 247px;
    }

    /** For iPhone **/
    @media only screen and (device-width : 414px) and (device-height : 736px) and (-webkit-device-pixel-ratio : 3) {
      height: 288px;
    }
  }

  .crop-bottom {
    transform: rotate(2.3deg);
    -webkit-transform: rotate(2.3deg);
    -moz-transform: rotate(2.3deg);
    background-color: #fff;
    width: 100%;
    height: 32px;
    margin: -15px 0 0 -1px;
    position: absolute;
    padding: 1px;

    @media (max-width: 575.98px) {
      width: 101%;
    }
  }
}

.post-info {
  img {
    width: 150px;
  }

  .post-details-wrapper {
    display: flex;
    align-items: center;
    margin-top: 8px;
    font-size: 19px;
    font-weight: 400;
    color: #a0a5aa;

    .post-dot {
      margin-left: 8px;
      margin-right: 8px;
    }

    @media (max-width: 575.98px) {
      font-size: 17px;
    }
  }
}

.post-body {
  .post-title {
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.64px;
    font-weight: 900;

    @media (max-width: 575.98px) {
      font-size: 40px;
      line-height: 52px;
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
      font-size: 40px;
      line-height: 52px;
    }
  }

  .post-separator {
    height: 6px;
    width: 16vw;
    border-radius: 4px;
    background-color: $separator-color;
    display: block;
    margin: 35px auto 45px auto;

    @media (max-width: 575.98px) {
      width: 150px;
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
      width: 250px;
    }

    /** For iPad **/
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
      width: 250px;
    }

    /** For iPad **/
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
      width: 250px;
    }
  }

  p {
    font-size: 22px;
    font-weight: 400;
    margin: 35px 0;

    @media (max-width: 575.98px) {
      font-size: 18px;
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
      font-size: 20px;
    }
  }

  a {
    text-decoration: none;

    .tags {
      background-color: #E1E6EB;
      color: #8C96A0;
      border-radius: 10rem;
      padding: 10px 12px;
      font-weight: 600;
      line-height: 1;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      margin: 10px 5px 5px 0;

      &:hover {
        color: #717d88 !important;
        text-decoration: none !important;
        background-color: #c2cdd7;
      }
    }
  }
}

.related-news {
  h1 {
    font-weight: 700;
    font-size: 40px;
  }
}

.related-news-cards {
  a {
    text-decoration: none !important;

    &:hover {

      .card {
        background-color: #d1d7e1 !important;
        -webkit-transition: background-color 400ms ease-in;
        -ms-transition: background-color 400ms ease-in;
        transition: background-color 400ms ease-in;
      }

      .img-wrapper {
        img {
          @include img-zoom-in;
        }
      }

    }
  }

  .card {
    height: 330px;
    overflow: hidden;
    background-color: #F0F2F5 !important;
    border-color: #fff;
    margin-top: 20px;

    .card-wrapper {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;

      @media (max-width: 575.98px) {
        flex-direction: row;
      }
    }

    .img-wrapper {
      overflow: hidden;

      img {
        @include img-zoom-out;
        height: 100%;
        width: 100%;
        object-fit: cover;

        @media (max-width: 575.98px) {
          width: 360px
        }

        /** For iPhone **/
        @media only screen and (device-width : 375px) and (device-height : 667px) and (-webkit-device-pixel-ratio : 2) {
          width: 335px
        }

        /** For iPhone **/
        @media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
          width: 335px
        }
      }
    }

    .title-wrapper {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.0), rgba(10, 9, 9, 0.6));
      height: 100%;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .short-title {
        color: #fff;
        font-size: 21px;
        font-weight: bold;
        margin: 0 15px;

        /** For iPhone **/
        @media only screen and (device-width : 414px) and (device-height : 736px) and (-webkit-device-pixel-ratio : 3) {
          // padding: 35px 10px;
          margin-left: 15px;
        }

        /** For iPhone **/
        @media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
          // padding: 35px 10px;
          margin-left: 15px;
        }

        @media (max-width: 575.98px) {
          // padding: 35px 10px;
          margin-left: 15px;
        }
      }

      .footer-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 15px;

        img {
          width: 95px;

          @media (max-width: 575.98px) {
            width: 80px;
          }
        }

        .time-stamp {
          color: #fff;
          font-size: 14px;
          text-align: right;

          @media (max-width: 575.98px) {
            font-size: 11.5px;
          }
        }
      }
    }

    .card-body {
      padding: 0;

      .short-title {
        color: #141E28;
        font-size: 17px;
        font-weight: bold;
        overflow-wrap: break-word;
        padding: 10px;


        @media (max-width: 575.98px) {
          font-size: 15px;
        }

        /** For iPad **/
        @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
          font-size: 17px;
        }

        /** For iPhone **/
        @media only screen and (device-width : 375px) and (device-height : 667px) and (-webkit-device-pixel-ratio : 2) {
          font-size: 15px;
        }

        /** For iPhone **/
        @media only screen and (device-width : 667px) and (device-height : 375px) and (-webkit-device-pixel-ratio : 2) {
          font-size: 17px;
        }

        /** For iPhone **/
        @media only screen and (device-width : 414px) and (device-height : 736px) and (-webkit-device-pixel-ratio : 3) {
          font-size: 15px;
        }

        /** For iPhone **/
        @media only screen and (device-width : 736px) and (device-height : 414px) and (-webkit-device-pixel-ratio : 3) {
          font-size: 17px;
        }

        /** For iPhone **/
        @media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
          font-size: 15px;
        }

        /** For iPhone **/
        @media only screen and (device-width : 812px) and (device-height : 375px) and (-webkit-device-pixel-ratio : 3) {}
      }
    }

    .card-footer {
      padding: 15px 12px;
      background-color: transparent;
      border-top: none;

      .footer-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;


        img {
          width: 95px;
          height: 100%;

          @media (max-width: 575.98px) {
            width: 80px;
          }
        }

        .time-stamp {
          font-size: 13px;
          color: #141e34;

          @media (max-width: 575.98px) {
            font-size: 11.5px;
          }
        }
      }
    }

    @media (max-width: 575.98px) {
      height: auto;
    }

    /** For iPhone **/
    @media only screen and (-webkit-device-pixel-ratio : 3) and (orientation : landscape) {
      height: auto !important;
      margin-top: 20px !important;
    }

    /** For iPad **/
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
      height: auto !important;
      margin-top: 20px !important;
    }

    /** For iPad **/
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
      height: 290px;
    }

    /** For iPhone **/
    @media only screen and (device-width : 414px) and (device-height : 736px) and (-webkit-device-pixel-ratio : 3) {
      height: auto;
    }

    /** For iPhone **/
    @media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
      height: auto;
    }
  }

  @media (max-width: 575.98px) {
    margin-top: 0 !important;

    .card {
      margin-top: 20px;
    }

  }

  @media (min-width: 576px) and (max-width: 767.98px) {
    .card {
      height: auto;
      margin-top: 20px;
    }
  }
}

.footer {
  background-color: #F0F2F5 !important;
  color: #141E28 !important;

  h5 {
    color: #577288 !important;
    font-weight: bold;
    font-size: 17.5px;
    letter-spacing: 1px;
  }

  .copyright {
    margin-top: 40px;
    color: #577288 !important;
    font-size: 14px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 30px;

    a {
      color: #141E28 !important;

      &:hover {
        text-decoration: none;
      }

      li {
        margin-top: 18px;
      }
    }
  }
}

@keyframes zoom-in {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
  }
}

@keyframes zoom-out {
  0% {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}